/* Author: Ali Jazbi
Start Date: 2023-07-19
Project: Eng.Naseri's Website Portfolio
Description: Computer Engineer and Teacher Resume Website on GitHub. The GitHub repository will be structured to include clear documentation and guidelines for future modifications and enhancements.*/
/*
important color palettes in this project :
#fcfcfc
#2d3130
#3e4f69
#4f6da3
#608cdd
*/
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'vazir', sans-serif;
}
/* Global Styles */
body {
    height:2000px;
    background-color: #000000;
    color: #2d3130;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
}
/* add new font */
@font-face {
    font-family: 'Vazir';
    src: url('../font/vazir.ttf') format('truetype');
}
@font-face {
    font-family: 'homa';
    src: url('../font/B\ Homa_0.ttf') format('truetype');
    }
/* change scroll browser */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0c182f;
}
::-webkit-scrollbar-thumb {
    background: #345084
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Global Classes */

#particles-js{
    width: 100%;
    height: 100%;
}

/* navbar Lg Size*/
.navbar {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar .container{
    width: 75%;
}
.navbar .nav-link{
    color: #fcfcfc;
    font-size: 1.4rem;
    transition: all 0.3s ease;
    font-family: 'homa' !important;
    cursor: pointer;
    margin: 0 0 0 70px !important;
}
.navbar .nav-link:hover{
    color: #608cdd;
    cursor: pointer;
}
.navbar .btn{
    background-image: -moz-linear-gradient(top, #5698b0, #549eab, #569bb0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50abdf), to(#1f78aa));
    background-image: -webkit-linear-gradient(top, #50abdf, #1f78aa);
    background-image: -o-linear-gradient(top, #50abdf, #1f78aa);
    background-image: linear-gradient(to bottom, #50abdf, #1f78aa);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50abdf', endColorstr='#ff1f78aa', GradientType=0);
    background-repeat: repeat-y;
    background-size: 100% 90px;
    background-position: 0 -30px;
    -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
            color: white;

}
.navbar .btn:hover{
    background-position: 0 0;
}
.navbar .collapse .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar-expand-lg img{
    width: 150px;
    height: 50px;
}
/* style for mobile and tablet */
@media (max-width: 991.98px) {
    .navbar .navbar-toggler{
        width: 35px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .navbar-brand img{
        width: 120px;
        height: 50px;
    }
    .navbar .bi-list{
        background: linear-gradient(to right, #a8cbd8, #b4d2d7, #a4c8d3);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 35px;
        margin-top: 3px;
    }
    .navbar .container{
        width: 95%;
    }
    .navbar .nav-link{
        margin: 0 0 0 30px !important;
    }
    .navbar .btn{
        margin: 0 0 0 30px !important;
    }
    .navbar .collapse .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .navbar .offcanvas{
        background: #1e3c72;
        background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
        background: linear-gradient(to right, #2a5298, #1e3c72);
        color: white;
    }
    .navbar .offcanvas .offcanvas-header{
        /* create backround blur */
        background: rgba(0, 0, 0, 0.164);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        /* create backround blur */
        border-bottom: 1px solid #2d3130a0;
        /* create shadow */
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.164);
        -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.164);
        
    }
    .navbar .offcanvas button{
        background-color: transparent;
        border: none;
        outline: none;
        width: 35px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9px;
    }
    .navbar .offcanvas button i{
        color: rgba(255, 255, 255, 0.92);
        font-size: 35px;
        background-color: transparent;
    }
    .navbar .offcanvas .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }
    .navbar .offcanvas .nav-link{
        color: white;
        font-size: 1.4rem;
        transition: all 0.3s ease;
        font-family: 'homa' !important;
        cursor: pointer;
        margin: 10px 0 !important;
    }
    .navbar .offcanvas .nav-link:hover{
        color: #608cdd;
        cursor: pointer;
    }
    .navbar .offcanvas .btn{
        margin: 30px 0 !important;
    }
}